<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
      }

      .form-group {
        margin: 10px 0;
      }

      .login-btn {
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px 10px;
        margin-top: 10px;
        text-decoration: none;
        color: black;
      }

      .alert {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1.4rem 13rem;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
      }
      .alert--success {
        background-color: #20bf6b;
      }
      .alert--error {
        background-color: #eb4d4b;
      }
    </style>
  </head>
  <body>
    <form class="form login-form">
      <h1>Login</h1>

      <div class="form-group">
        <label for="username">Username</label>
        <input required type="text" name="username" id="username" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" name="password" id="password" />
      </div>

      <!-- <a href="/" class="login-btn">Login</a> -->
      <button class="login-btn">Login</button>
    </form>
    <a href="/signup">Dont have an account?</a>

    <script src="bundle.js"></script>
  </body>
</html>
