@import "./global/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");

.app-container {
  width: 100vw;
  min-height: 100vh;
  // background-color: #ddd;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.4rem 13rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);

  &--success {
    background-color: #20bf6b;
  }

  &--error {
    background-color: #eb4d4b;
  }
}
